@charset "UTF-8";
/*CSS中插入圖片*/
/*圖片取代文字*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.wrap {
  max-width: 100%;
  margin: 0 auto;
  font-family: "Microsoft JhengHei", Times, Baskerville, Georgia, serif; }

.header {
  background-image: url("../images/header_desktop.png");
  height: 420px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative; }

@media screen and (max-width: 767px) {
  .header {
    background-image: url("../images/Bitmap.png"); } }

.topbar {
  background: rgba(0, 0, 0, 0.8);
  height: 54px; }

.topbar > h1 a {
  background-image: url("../images/logo_w@svg.svg");
  width: 120px;
  height: 24px;
  background-size: contain;
  display: block;
  background-repeat: no-repeat;
  float: left;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  margin: 15px 10px 15px 10px; }

.topbar ul li {
  display: block;
  float: right;
  padding: 20px 20px;
  margin-right: 10px; }

.header a {
  text-decoration: none;
  color: white;
  font-family: "Microsoft JhengHei", Times, Baskerville, Georgia, serif;
  cursor: pointer; }

.option.active {
  border-bottom: solid 5px orange;
  font-weight: bold;
  background: rgba(188, 188, 188, 0.2); }

.burger {
  display: none; }

.bg {
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  position: absolute;
  top: 30%;
  left: 25%;
  right: 25%; }

.bg h2 {
  font-size: 36px;
  font-family: "Microsoft JhengHei", Times, Baskerville, Georgia, serif;
  padding: 10px 10px 10px 10px;
  color: white; }

@media screen and (max-width: 767px) {
  .bg h2 {
    font-size: 24px;
    font-weight: bold; } }

.question h2 {
  line-height: 30px;
  padding: 10px 10px 10px 10px; }

.bg p {
  color: white;
  font-family: "Microsoft JhengHei", Times, Baskerville, Georgia, serif; }

.bg div {
  padding-bottom: 20px; }

@media screen and (max-width: 767px) {
  .burger {
    font-size: 30px;
    margin-top: 15px;
    display: block;
    float: right;
    margin-right: 10px; }
  .menu {
    max-height: 0px;
    overflow: hidden;
    /*因高度為0，文字會溢出，故需增加此語法隱藏*/
    -webkit-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
    transition: max-height 0.5s;
    /*margin-top: 1px;*/
    position: absolute;
    z-index: 100;
    top: 50px;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8); }
  .menu li {
    border-bottom: 5px solid transparent; }
  .menu li a {
    -webkit-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
    cursor: pointer; }
  /*jQ點擊後動態在 body 加上 class */
  .show .menu {
    max-height: 500px; }
  .header ul li {
    float: none; } }

.content {
  background: #fdf5ec; }

.clearfix {
  clear: both; }

.footer {
  font-family: "Microsoft JhengHei", Times, Baskerville, Georgia, serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  background: #fdf5ec;
  color: brown; }

.about {
  width: 100%;
  margin-right: 50px; }

.about span {
  font-weight: bold;
  font-size: 24px; }

.contact {
  width: 100%;
  margin-right: 50px; }

.contact ul {
  list-style: disc; }

.contact span {
  font-weight: bold;
  font-size: 24px; }

.box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 40px 40px; }

.logo-b a {
  background-image: url("../images/logo_l@svg.svg");
  background-repeat: no-repeat;
  width: 180px;
  height: 42px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background-size: contain;
  text-indent: -101%;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 50px; }

.google {
  background-image: url("../images/google_plus_logo.png");
  text-indent: -101%;
  overflow: hidden;
  white-space: nowrap;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-right: 20px; }

.twitter {
  background-image: url("../images/Twitter_NEW.png");
  text-indent: -101%;
  overflow: hidden;
  white-space: nowrap;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-right: 20px; }

.facebook {
  background-image: url("../images/fb.png");
  text-indent: -101%;
  overflow: hidden;
  white-space: nowrap;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-right: 20px; }

.box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 30px; }

.social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-line-pack: justify;
  align-content: space-between; }

@media screen and (max-width: 768px) {
  .footer {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .box1 {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: justify;
    align-content: space-between; }
  .about p + .contact p {
    width: 760px; } }

@media screen and (max-width: 414px) {
  .about p + .contact p {
    width: 400px; } }

@media screen and (max-width: 375px) {
  .about p + .contact p {
    width: 370px; } }

@media screen and (max-width: 320px) {
  .about p + .contact p {
    width: 300px; } }

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-item: flex-start; }

.sidebar {
  width: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px 10px 10px 30px;
  background-color: #f8f5f4; }
  .sidebar a {
    text-decoration: none;
    font-size: 14px; }
  .sidebar a:hover {
    color: white; }
  .sidebar li:hover {
    background: brown; }
  .sidebar li {
    padding: 10px 10px;
    border-bottom: 1px solid brown;
    background-color: #f8f5f4; }
  .sidebar h3 {
    padding: 10px 10px; }
  @media (max-width: 768px) {
    .sidebar {
      display: none; } }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 90%;
  background-color: #f8f5f4; }
  @media (max-width: 768px) {
    .content {
      width: 100%; } }

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .top input {
    width: 300px;
    height: 24px;
    border-radius: 5px; }
    @media (max-width: 375px) {
      .top input {
        margin-bottom: 15px; } }
    @media (max-width: 320px) {
      .top input {
        width: 250px; } }
  .top .search {
    border-radius: 5px; }
  .top form {
    margin: 15px 15px 15px 35px; }
  @media (max-width: 768px) {
    .top {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.mobile-menu {
  display: none; }
  @media (max-width: 768px) {
    .mobile-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-line-pack: center;
      align-content: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .mobile-menu .list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-line-pack: center;
        align-content: center; }
      .mobile-menu h3 {
        padding: 10px 10px;
        font-weight: bolder;
        color: brown; }
      .mobile-menu li {
        border: 1px solid orange;
        padding: 10px 10px;
        font-weight: bolder;
        border-radius: 30px; }
      .mobile-menu li:hover {
        background-color: brown; }
      .mobile-menu a {
        color: brown;
        text-decoration: none; }
      .mobile-menu a:hover {
        color: white; } }

.buy a {
  margin-right: 10px;
  text-decoration: none;
  padding: 5px 5px; }

.buy a:hover {
  color: white; }

.buy ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 15px 15px 15px 15px; }

.buy li {
  padding: 10px 10px;
  border: 1px solid brown;
  margin-right: 10px;
  border-radius: 6px;
  display: block; }

.buy li:hover {
  background-color: brown;
  font-weight: bolder; }

.product ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 768px) {
    .product ul {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.product li {
  text-align: center;
  margin: 20px 20px; }
  @media (max-width: 320px) {
    .product li {
      padding-right: 30px; }
      .product li img {
        max-width: 100%; } }

h4 {
  font-size: 24px; }

.product-1 img,
.product-2 img,
.product-3 img,
.product-4 img {
  margin-bottom: 15px; }

.product-1 p,
.product-2 p,
.product-3 p,
.product-4 p {
  margin-bottom: 20px; }

.product-1 button,
.product-2 button,
.product-3 button,
.product-4 button {
  border: 1px solid orange;
  padding: 15px 65px;
  background-color: #f8f5f4;
  color: orange;
  border-radius: 10px; }

.product-1 .price,
.product-2 .price,
.product-3 .price,
.product-4 .price {
  font-size: 24px; }

.product-1 span,
.product-2 span,
.product-3 span,
.product-4 span {
  font-size: 30px;
  font-weight: bolder; }

.product-1 .underLine,
.product-2 .underLine,
.product-3 .underLine,
.product-4 .underLine {
  border-bottom: 1px solid brown;
  padding-bottom: 20px; }
