@mixin ipad-pro {
    @media (max-width: 1024px) {
        @content
    }
}

@mixin ipad {
    @media (max-width: 768px) {
        @content
    }
}

@mixin plus {
    @media (max-width: 414px) {
        @content
    }
}

@mixin iphone {
    @media (max-width: 375px) {
        @content
    }
}

@mixin iphone5 {
    @media (max-width: 320px) {
        @content
    }
}