.wrap{
	max-width: 100%;
	margin: 0 auto;
	font-family: "Microsoft JhengHei", Times, Baskerville, Georgia, serif;
}
.header{
	background-image: url('../images/header_desktop.png');
min-height: 420px;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
position: relative;
}
@media screen and (max-width: 767px){
	.header{
		background-image: url('../images/Bitmap.png');
        
	}
}
@media screen and (max-width: 367px){
	
}
@media screen and (max-width: 320px){
	
}

.footer{


}