.wrap{
	max-width: 900px;
	margin: 0 auto;
}
.header{
	background-image: url('../images/header_desktop.png');
height: 420px;
position: relative;
}
@media (max-width: 767px){
	.header{
		background-image: url('../images/Bitmap.png');

	}
}
@media (max-width: 367px){
	
}
@media (max-width: 320px){
	
}
.footer{

}