@import "default-layout";
@import "mixin";


.wrap{
    margin-top: -22px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
}

.flex-container>* {
    margin-top: 20px;
    color: #592d03;
    font-weight: bold;
    text-align: center;

}

.underLine-1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: line-through;

}

.underLine-2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: line-through;

}

.vegetable img {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    margin-bottom: 30px;
}

.chef img {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    margin-bottom: 30px;
}

.pro img {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    margin-bottom: 30px;
}

.feature * {
    color: #592d03;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.vegetable {
    padding: 30px 30px 30px 30px;
    text-align: center;
    max-width: 25%;

}

.vegetable p {
    text-align: center;
}

.chef {
    padding: 30px 30px 30px 30px;
    max-width: 25%;
    text-align: center;
}

.chef p {
    text-align: center;
}

.pro {
    padding: 30px 30px 30px 30px;
    text-align: center;
    max-width: 25%;
}

.pro p {
    text-align: center;
}

h3 {
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
}

@media screen and (max-width: 767px) {
    .flex {
        flex-wrap: wrap;
    }

    .vegetable {
        max-width: 100%;
    }

    .chef {
        max-width: 100%;
    }

    .pro {
        max-width: 100%;
    }

}

.intro {
    display: flex;
    justify-content: center;
    background: #24180a;
}

.intro img {
    padding: 0px 20px 0px 50px;
    max-width: 100%;
    height: 460px;
}

h4 {
    line-height: 25px;
    font-size: 24px;
    margin-top: 50px;
}

.chef-intro * {
    text-align: left;
    margin: 30px 30px 30px 30px;
    color: white;

}

.chef-intro span {
    font-size: 16px;
}

@media screen and(max-width: 767px) {
    .intro {
        flex-wrap: wrap;
    }

    .intro img {
        max-width: 100%;
        padding: 0px 0px 0px 0px;

    }

}

h5 {
    margin: 20px 0px 0px 20px;
}

.su img {
    border-radius: 50%;
}

.suggest {
    display: flex;
    align-content: stretch;
    justify-content: center;
    flex-wrap: wrap;
}


.suggest * {
    color: brown;
}

.suggest>p {

    margin: 50px 0px 30px 0px;
    font-size: 24px;
    font-weight: bold;

}

.allBox {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.box {
    display: flex;
    align-item: flex-start;
    flex-direction: column;
    padding-right: 5px;

}

.box p {
    margin-left: 127px;
}

.box span {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.su {
    display: inline-flex;
    justify-content: flex-start;
    margin-left: 40px;

}

@media screen and(max-width: 767px) {
    .allBox {
        flex-wrap: wrap;
    }

    .box {
        max-width: 100%;
        margin: 0px 15px 0px 15px;
    }

}

.t6 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

h6 {
    color: brown;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    padding-top: 30px;
}

.location {
    background: #fafafa;
}

.loc {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

}

.location iframe {
    margin: 0px 30px 10px 30px;
}
.input{
    max-width: 100%;
}


@media screen and(max-width: 767px) {
    .loc {
        flex-wrap: wrap;
    }

    .input {
        width: 350px;
    }

}



@media screen and (max-width: 413px) {


    .input {
        width: 300px;
    }
}

@media screen and (max-width: 374px) {
    .input {
        width: 280px;
    }




}

@media screen and (max-width: 320px) {
    .input {
        width: 250px;
    }


}



.keyin {
    color: brown;
    display: flex;
    align-item: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.checkbox {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.pure-button {
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
}