@import "reset";
@import "layout";
@import "mixin";

@include reset;
.header h1 a{
background-image: url('../images/logo_w@svg.svg');
width: 120px;
height: 24px;
background-size: contain;
 display: block;
 float: left;
 @include hidetext;
 margin: 15px 10px 15px 10px;
}
.header ul li{
	display: block;
	float: right;
	padding: 20px 15px 20px 15px;
	margin-right: 10px;
	
}
.header a{
text-decoration: none;
color: white;
font-family: "Microsoft JhengHei", Times, Baskerville, Georgia, serif;
cursor: pointer;

}
.menu.active{
	border-bottom: solid 5px orange;
	 font-weight: bold;
}