@import "mixin";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrap{
	max-width: 100%;
	margin: 0 auto;
	font-family: "Microsoft JhengHei", Times, Baskerville, Georgia, serif;
}
.header{
	background-image: url('../images/header_desktop.png');
height: 420px;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
position: relative;
}

@media screen and (max-width: 767px){
	.header{
		background-image: url('../images/Bitmap.png');
        
	}
}
.topbar{
    background: rgba(0,0,0,0.8);
height: 54px;
}
.topbar>h1 a {
    background-image: url('../images/logo_w@svg.svg');
    width: 120px;
    height: 24px;
    background-size: contain;
    display: block;
    background-repeat: no-repeat;
    float: left;
    @include hidetext;
    margin: 15px 10px 15px 10px;
}

.topbar ul li {
    display: block;
    float: right;
    padding: 20px 20px;
    margin-right: 10px;

}

.header a {
    text-decoration: none;
    color: white;
    font-family: "Microsoft JhengHei", Times, Baskerville, Georgia, serif;
    cursor: pointer;

}

.option.active {
    border-bottom: solid 5px orange;
    font-weight: bold;
    background: rgba(188, 188, 188, 0.2);
}

.burger {
    display: none;

}

.bg {
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    position: absolute;
    top: 30%;
    left: 25%;
    right: 25%;



}

.bg h2 {
    font-size: 36px;
    font-family: "Microsoft JhengHei", Times, Baskerville, Georgia, serif;
    padding: 10px 10px 10px 10px;
    color: white;
}
@media screen and (max-width: 767px) {
	.bg h2{
		font-size: 24px; 
            font-weight: bold;
	}
}
.question h2 {
    line-height: 30px;
    padding: 10px 10px 10px 10px;

}
.bg p {
    color: white;
    font-family: "Microsoft JhengHei", Times, Baskerville, Georgia, serif;
}

.bg div {
    padding-bottom: 20px;
}

@media screen and (max-width: 767px) {


    .burger {
        font-size: 30px;
        margin-top: 15px;
        display: block;
        float: right;
        margin-right: 10px;
    }

    .menu {
        max-height: 0px;
        overflow: hidden;
        /*因高度為0，文字會溢出，故需增加此語法隱藏*/
        transition: max-height 0.5s;
        /*margin-top: 1px;*/
        position: absolute;
        z-index: 100;
        top: 50px;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.8);

    }

    .menu li {
        border-bottom: 5px solid transparent;

    }

    .menu li a {
        transition: all 0s;
        cursor: pointer;

    }


    /*jQ點擊後動態在 body 加上 class */
    .show .menu {
        max-height: 500px;
    }

    .header ul li {
        float: none;
    }
}

.content {
    background: #fdf5ec;
}

.clearfix {
    @include clearfix;
}

.footer{
font-family: "Microsoft JhengHei", Times, Baskerville, Georgia, serif;
display: flex;;
    justify-content: space-between;
    flex-wrap: nowrap;
    background: #fdf5ec;
    color: brown;
}
.about{
    width: 100%;
    margin-right: 50px;
}
.about span{
    font-weight: bold;
    font-size: 24px;
}
.contact{
    width: 100%;
margin-right: 50px;

}
.contact ul {
    list-style: disc;
}

.contact span{
    font-weight: bold;
     font-size: 24px;
}
.box1{
    display: flex;
    justify-content: flex-start;
    margin: 40px 40px;
}
.box1 span{
    
}
.logo-b a{
    background-image: url('../images/logo_l@svg.svg');
    background-repeat: no-repeat;
    width: 180px;
    height: 42px;
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: row;
    background-size: contain;
    text-indent: -101%;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 50px;
}
.google{
    background-image: url('../images/google_plus_logo.png');
    text-indent: -101%;
    overflow: hidden;
    white-space: nowrap;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-right: 20px;
}
.twitter{
    background-image: url('../images/Twitter_NEW.png');
    text-indent: -101%;
    overflow: hidden;
    white-space: nowrap;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-right: 20px;
}
.facebook{
    background-image: url('../images/fb.png');
    text-indent: -101%;
    overflow: hidden;
    white-space: nowrap;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-right: 20px;
}
.box2{
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    margin: 30px;
}
.social{
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: space-between;
    

}
@media screen and(max-width: 768px){
    .footer{
        flex-wrap: wrap;
    }
    .box1{
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: space-between;

    }
    .about p + .contact p{
        width: 760px;
    }
}
@media screen and (max-width: 414px) {
    .about p + .contact p{
        width: 400px;
    }
}
@media screen and (max-width: 375px) {
    .about p + .contact p{
        width: 370px;
    }
}
@media screen and (max-width: 320px) {
    .about p + .contact p{
        width: 300px;
    }
}

