@import "default-layout";
.header{
	margin-top: -30px;
}
.re{
	border-bottom: 5px solid orange;
}
.content{
	color: brown;
	padding-bottom: 10px;
}

.title{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
h3{
	font-size: 36px;
	margin-top: 20px;
	font-weight: bold;
margin-bottom: 30px;
}
h3>span{
	font-size: 20px;
	display: flex;
	justify-content: center;
   margin-top: 10px;
}
.register{
	border-top: 5px solid orange;
	box-shadow: 3px 3px 10px gray;
margin-left: 20%;
margin-right: 20%;
padding: 40px 40px;
}

.match-icon{
	border-radius: 50%;
	display: none;
}
.match-icon.active{
	display: block;
}
.terms{
	width: 50%;
}
.register>p{
	display: flex;
	justify-content: center;
	font-size: 24px;
	font-weight: bold;
	margin: 10px 10px;
}
.box{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	
}
.btn{
	display: flex;
	justify-content: flex-end;
	
}
@media screen and(max-width: 768px) {
	.box{
		justify-content: space-around;
	}
	.register{
		max-width: 100%;
		margin: 0 auto;
	}
}
@media  screen and(max-width: 414px) {
	.box{
		flex-wrap: wrap;
	}
	.register{
		box-shadow: 0px 0px 0px gray;
	}
.terms{
	width: 100%;
	margin-bottom: 20px;
}
form{
	width: 100%;
}
}
@media  screen and(max-width: 375px) {
	.box{
		flex-wrap: wrap;
	}
}